:root {
  --grey: #2e2e2f;
  --red: #f13c4a;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav {
  width: 100%;
  background-color: var(--grey);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
.links {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10%;
}
.links i {
  margin-right: 1.5rem;
}
.ham-btn {
  display: none;
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-left: 10%;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
}
.logo-text {
  display: flex;
  flex-direction: column;
}
.logo-text p {
  font-size: 1.2rem;
  font-weight: 600;
}
.logo-header {
  letter-spacing: -1px;
  font-size: 2rem;
  color: var(--red);
  font-weight: 1000;
}
.header-links {
  width: 50%;
}
.header-links ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;

  width: 80%;
}
.header-links li {
  list-style: none;
}
.header-links a {
  text-decoration: none;
  color: var(--grey);
  font-weight: 600;
}

.banner-1 {
  width: 100%;
  height: 700px;
  margin-top: 1.5rem;
  background-image: url(../assets/main-banner.png);
  background-size: cover;
  background-position: center;
  /* background-position-y: -400px; */

  background-repeat: no-repeat;
  position: relative;
}

.diagonal-div {
  width: 55%;
  height: 100%;
  max-height: 700px;
  background-color: var(--red);
  position: absolute;

  transform: skewX(-29deg);
  z-index: 2;
  transform-origin: top right;
}
.diagonal-div-2 {
  width: 43%;
  height: 40%;
  max-height: 700px;
  background-color: var(--grey);
  position: absolute;
  transform: skewX(30deg);
  transform-origin: bottom;
  bottom: 0;
  z-index: 1;
}
